.item {
    height: 40px;
    padding: 5px;
    border-bottom: 1px solid rgb(48, 255, 241, 0.025);
    border-right: 1px solid rgba(48, 255, 241, 0.025);
    overflow: hidden;
    cursor: pointer;
}

.item:hover {
    background: -moz-linear-gradient(
        top,
        rgba(32, 124, 202, 0) 0%,
        rgba(36, 153, 211, 0) 22%,
        rgba(43, 212, 228, 0.37) 67%,
        rgba(47, 247, 239, 0.5) 94%,
        rgba(48, 255, 241, 0.5) 100%
    );
    background: -webkit-linear-gradient(
        top,
        rgba(32, 124, 202, 0) 0%,
        rgba(36, 153, 211, 0) 22%,
        rgba(43, 212, 228, 0.37) 67%,
        rgba(47, 247, 239, 0.5) 94%,
        rgba(48, 255, 241, 0.5) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(32, 124, 202, 0) 0%,
        rgba(36, 153, 211, 0) 22%,
        rgba(43, 212, 228, 0.37) 67%,
        rgba(47, 247, 239, 0.5) 94%,
        rgba(48, 255, 241, 0.5) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00207cca', endColorstr='#8030fff1',GradientType=0 );
}
